body{background-image: url(https://images.bauerhosting.com/legacy/empire-tmdb/films/671/images/uD93T339xX1k3fnDUaeopZBiajY.jpg?ar=16:9&fit=crop&crop=top); background-size: 1450px; font-family: 'Rancho', cursive; font-size:20px;}
button{width: 120px; height:70px; background-color: black;color:aliceblue; font-size: medium; text-align: center;margin-left: 600px;}
#d1{color:aliceblue;text-align: center;}
#hi{text-align: right}